
.bg{
    text-align: center;
    background-image:url(../../../public/dataimagejpeg;base64\,9j4AAQSkZJRgABAQAAAQABAAD2wBDAAsJCQcJCQcJCQkJCwkJCQkJCQsJCwsMCwsLDA0QDBEODQ4MEhkSJRodJR0ZHxwpKRYlNzU2GioyPi0pMBk7IRP2wBDAQcICAsJCxULCxUsHRkdLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsL.png);
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
 
}

 

.cover{
    background-color: rgb(39, 148, 29);
    width: 30em;
    height: 40em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3rem;
    margin-bottom: auto;
}

form-control{
    margin-top: 25px;
}


button1 {
    font-size: 12px;
    border-radius: 4px;
    transition-duration: 0.4s;
    padding: 12px 28px;
    border: 2px solid #bee1bf;
    
}

button1:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}









